//
   Created by Tom Horak on 31.03.16.

div.preloader-wrapper.active
  div.spinner-layer
    div.circle-clipper.left
      div.circle
    div.gap-patch
      div.circle
    div.circle-clipper.right
      div.circle