@import "../../public/static/lib/materialize/sass/materialize";

#loading-overlay {
  @extend .valign-wrapper;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.95);
  z-index: 99999;
}

#loading-overlay div.valign {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

#loading-overlay .preloader-wrapper {
  margin: 2rem 0;
}

#proximity-indicator {
  @extend .valign-wrapper;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
  background-color: color('light-green', 'lighten-3');

  div.valign {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: color('blue-grey', 'base');

    i {
      font-size: 15rem;
    }
  }
}

.shake {
  animation: shake 2s cubic-bezier(.36,.07,.19,.97) infinite;
}

.shrink {
  animation: shrink 2s ease-in-out infinite;
}

.blink {
  animation: blink 1.5s ease-in-out infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }

  35% {
    opacity: 0.8;
  }

  to {
    opacity: 0;
  }
}

@keyframes shrink {
  from {
    opacity: 0.8;
    font-size: 0.5rem;
  }

  to {
    font-size: 40rem;
    opacity: 0;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}